extends layout

block content
  header 
    |Catechisms
    a.menu-btn(href="#select")
      i.icon-th
  ng-view

  #list-template.hidden
    #error(ng-show='catechisms.length==0')
      |Loading...
    ul
      li.catechism(ng-repeat='cat in catechisms | filter:search',
        ng-class-even='"even"')
        .question
          .number {{cat.number}}
          {{cat.question}}
        .clearfix
        .answer 
          label A: 
          {{cat.answer}}
        .clearfix
        .verses
          .verse(ng-repeat='v in cat.verses | orderBy:"order"')
            
            .ref(ng-click='toggle(cat.number, v.reference)')
              {{v.reference}}
            <span ng-show='isVisible(cat.number, v.reference)', ng-bind-html="v.text"></span>

  include new
  include selector
