extends layout

block content
  header Catechisms
  ng-view

  #list.hidden(ng-controller='ListCtrl')
    #error(ng-show='catechisms.length==0')
      |Loading...
    ul
      li.catechism(ng-repeat='cat in catechisms | filter:search',
        ng-class-even='"even"')
        .question
          .number {{cat.number}}
          label Question: 
          {{cat.question}}
        .clearfix
        .answer 
          label Answer: 
          {{cat.answer}}
        .clearfix
        .verses
          .verse(ng-repeat='verse in cat.verses')
            a(href="http://www.biblegateway.com/passage/?search={{verse}}&version=NASB") {{verse}}

    a(href="#new") New

  include new



