extends layout

block content
  header Catechisms
  ng-view

  #list.hidden(ng-controller='ListCtrl')
    #error(ng-show='catechisms.length==0')
      |Loading...
    ul
      li.catechism(ng-repeat='cat in catechisms | filter:search',
        ng-class-even='"even"')
        .question
          .number {{cat.number}}
          {{cat.question}}
        .clearfix
        .answer 
          label A: 
          {{cat.answer}}
        .clearfix
        .verses
          .verse(ng-repeat='v in cat.verses')
            
            .ref(ng-click='toggle(cat.number, v.reference)')
              {{v.reference}}
            <span ng-show='isVisible(cat.number, v.reference)', ng-bind-html="v.text"></span>

    a(href="#new") New

  include new



