#new-template.hidden(ng-controller='NewCtrl')
  #new
    h1 New Catechism
    label Number:
    input(ng-model='new.number', type='number')
    label Question:
    textarea(ng-model='new.question')
    label Answer:
    textarea(ng-model='new.answer')
    label Verses:
    textarea(ng-model='verses')
    br
    input(type='submit', ng-click='save()')

    #new-debug
      {{new}}
      br
      | Verses: {{verses}}g
    a(href="#") Home
