extends layout

block content
  #welcome.section
    h3 Welcome
    p
      | Bible Community Church is a body of believers dedicated to serving and worshipping 
      | the one true God. BCC believes the Bible is the infallible and inerrant Word of
      | God and that the Bible is sufficient in providing truth concerning salvation and
      | living a life glorifying to the Lord Jesus Christ. As a church,
      | we live to spread the good news of Jesus Christ to sinners everywhere
      | so that they may receive salvation from God's wrath.

  #location.anchor
  .section
    h3 Where are we located?
    h4
      address
        | 2869 7th Street
        br
        | Los Angeles, CA 90005
    p Find us in the heart of Los Angeles near Koreatown
    p Enter through the glass door and head up the stairs. Entrance is on the left.
    .map
      <iframe width="938" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2869+7th+Street,+Los+Angeles,+CA&amp;aq=1&amp;oq=2869+7th+Street&amp;sll=34.020479,-118.411732&amp;sspn=0.803588,1.381531&amp;ie=UTF8&amp;hq=&amp;hnear=2869+7th+St,+Los+Angeles,+California+90005&amp;t=m&amp;z=14&amp;iwloc=A&amp;ll=34.065819,-118.286147&amp;output=embed"></iframe>
      

  #schedule.anchor
  .section
    h3 When do we meet?
    .schedule
      h4 Sunday:
      ul
        li Sunday School: 12:00 PM
        li Youth Bible Study: 12:00 PM
        li 
          h4 Corporate Worship: 1:00 PM
            span.label.label-important Worship
        li Lunch 3:00 PM
        li Bible Study: 3:30 PM
      
      h4 Tuesday:
      ul
        li Small Group: 7:30 PM
        li Women's Group: 7:30 PM
      
      h4 Wednesday:
      ul
        li Prayer Meeting: 8:00 PM
      h4 Friday:
      ul
        li Youth Group: 8:00 PM

  #doctrine.anchor
  .section
    h3 Doctrinal Statement
    ol
      li 
        | We believe that the Bible is the inspired, inerrant and authoritative word of God, 
        | and that Scripture is sufficient for salvation and godliness. (2 Timothy 3:16-17)
      li We believe that there is only one true God, eternally existent in three persons: Father, Son and the Holy Spirit.
      li 
        | We believe that Jesus Christ, His virgin birth, His sinless life, 
        | His vicarious and atoning death, His bodiliy resurrection, and His return in power and glory.
      li
        | We believe that all men are lost sinners and dead in their trangressions.  
        | The solution to their unbearble power of sin is only in Jesus Christ.

      li 
        | We believe that the Holy Spirit is a person, not a force or thing.  
        | The Holy Sprit is fully God and that only by the Holy Spirit 
        | the sinner can turn to Christ in repentance and have faith in Jesus Christ.

      li We believe that the sinner is saved by grace alone through faith alone in Christ alone.

      li We believe that the church must be biblical and apostolic in order that she may obey the great commsion of Jesus Christ.
    
script(type='text/javascript')
  $('#nav').scrollspy();
