extends layout

block content
    #top
    //									TOP AREA											
    #wi-top-area
        .overlay
        .top-content
            .text
                h3.small-text Founded February 20, 2013
                h1.heading-text Bible Community Church
                h3.small-text Some more text
            .wi-button
                a.btn.btn-scroll(href="#about")
                    Get Started
                    i.icon-angle-right.right-icon

    //										HEADER											
    header#wi-header.wi-header
        .container
            .row-fluid
                .span3
                    #wi-logo.wi-logo
                        a(href='./', rel='home')
                            | BCC
                .span9
                    nav#wi-mainnav.wi-mainnav
                        .menu
                            ul.menu
                                li.active
                                    a(href="#top") Home
                                li
                                    a(href="./#about") About
                                li
                                    a(href="./#team") Team
                                li
                                    a(href="./#services") Services
                                li
                                    a(href="./#portfolio") Portfolio
                                li
                                    a(href="./#contact") Contact
                                li
                                    a(href="./blog.html") Blog

    #wi-content
        
        //										ABOUT US
        #about.wi-page
        
            //			TITLE
            .title-area
                .container
                    .arctext
                        span.uppertext February 20, 2013
                        span.lowertext Arctext -
                        .inner
                            img(src="./assets/lion.png", alt="lion")
                    h2.title About Us
                    h3.subtitle My name is Withemes and I'm a designer.
            // Intro
            section#section-intro.wi-section
                .container
                    .row-fluid
                        .span6
                            dorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt uta laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitaton ka ullamcorper suscipit lobortis nisl ut aliquip ex eatid commodo consequat. Duis autem vel eum iriure my dolor in hendrerit in vulputate velit esse molestie consequat, vel illumia dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto.

                        .span6
                            orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt uta laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitaton ka ullamcorper suscipit lobortis nisl ut aliquip ex eatid commodo consequat. Duis autem vel eum iriure my dolor in hendrerit in vulputate velit esse molestie consequat, vel illumia dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto.</p>
                    
            
            .spacer
                //         			COUNT
                section class="wi-section fullwidth" id="section-count">
    //         <div class="container">
    //             <div class="section-title">
    //                 <h3 class="title">Here's some impressive numbers about us</h3>
    //             </div><!-- .section-title -->
    //         <div class="row-fluid">
    //             <div class="span3">
    //                 <div class="wi-count" data-number="25">
    //                     <div class="number">25</div>
    //                     <div class="name">Services</div>
    //                     <div class="desc">
    //                         <p>Diam nonum my nibh euismodti ncidunt ut laoreet dolore magna.</p>
    //                     </div>
    //                 </div><!-- .wi-count -->
    //             </div><!-- .span3 -->
    //             
    //             <div class="span3">
    //                 <div class="wi-count" data-number="4524" data-delay="300">
    //                     <div class="number">4524</div>
    //                     <div class="name">Customers</div>
    //                     <div class="desc">
    //                         <p>Diam nonum my nibh euismodti ncidunt ut laoreet dolore magna.</p>
    //                     </div>
    //                 </div><!-- .wi-count -->
    //             </div><!-- .span3 -->
    //             
    //             <div class="span3">
    //                 <div class="wi-count" data-number="342" data-delay="600">
    //                     <div class="number">342</div>
    //                     <div class="name">Staffs</div>
    //                     <div class="desc">
    //                         <p>Diam nonum my nibh euismodti ncidunt ut laoreet dolore magna.</p>
    //                     </div>
    //                 </div><!-- .wi-count -->
    //             </div><!-- .span3 -->
    //             
    //             <div class="span3">
    //                 <div class="wi-count" data-number="112" data-delay="900">
    //                     <div class="number">112</div>
    //                     <div class="name">Years</div>
    //                     <div class="desc">
    //                         <p>Diam nonum my nibh euismodti ncidunt ut laoreet dolore magna.</p>
    //                     </div>
    //                 </div><!-- .wi-count -->
    //             </div><!-- .span3 -->
    //         
    //         </div></div><!-- .container -->
    //         </section><!-- .wi-section.fullwidth -->
    //         <div class="clearfix"></div>
    //     </div><!-- .wi-page -->
    //     
    //     <!--			SEPARATOR				-->
    //     <div class="page-separator separator-dark" id="page-separator-team">
    //         <div class="overlay"></div>
    //         <div class="clipmask"></div>
    //         <div class="content">
    //             <blockquote>
    //                 <p>We don't design themes.<br>We design dreams</p>
    //                 <cite>Withemes</cite>
    //             </blockquote>
    //         </div><!-- .content -->
    //     </div><!-- .page-separator #page-separator-team -->
    //     
    //     <!--										TEAM											-->
    //     <div class="wi-page" id="team">
    //     
    //         <!--			TITLE				-->
    //         <div class="title-area">
    //             <div class="container">
    //                 <div class="pad">
    //                     <div class="image">
    //                         <img src="./assets/leaves.png" alt="Leaves" />
    //                     </div><!-- .image -->	
    //                     <h2 class="title">Our team</h2>
    //                     <h3 class="subtitle">We are dedicated to make your business run faster, better and smoother than ever.</h3>
    //                 </div><!-- .pad -->
    //             </div><!-- .container -->	
    //         </div><!-- .title-area -->
    //         
    //         <!--			MEMBERS				-->
    //         <section class="wi-section" id="section-office">
    //         <div class="container"><div class="row-fluid">
    //             <div class="span4">
    //                 <div class="wi-member">
    //                     <div class="image">
    //                         <img src="./assets/member/1.jpg" alt="Michael Novotny" />
    //                     </div><!-- .image -->
    //                     <div class="text">
    //                         <div class="name">Michael Novotny</div>
    //                         <div class="desc">
    //                             <p>Diam nonum my nibh euismodti ncidunt utiand laoreet dolore magna obortis nisl ucorper susci.</p>
    //                         </div><!-- .desc -->
    //                         <div class="social">
    //                             <ul>
    //                                 <li><a href="#"><i class="icon-facebook"></i></a></li>
    //                                 <li><a href="#"><i class="icon-twitter"></i></a></li>
    //                                 <li><a href="#"><i class="icon-pinterest"></i></a></li>
    //                             </ul>
    //                         </div><!-- .social -->
    //                     </div><!-- .text -->
    //                     
    //                 </div><!-- .wi-member -->
    //             </div><!-- .span4 -->
    //             
    //             <div class="span4">
    //                 <div class="wi-member">
    //                     <div class="image">
    //                         <img src="./assets/member/2.jpg" alt="Chris Ames" />
    //                     </div><!-- .image -->
    //                     <div class="text">
    //                         <div class="name">Chris Ames</div>
    //                         <div class="desc">
    //                             <p>Diam nonum my nibh euismodti ncidunt utiand laoreet dolore magna obortis nisl ucorper susci.</p>
    //                         </div><!-- .desc -->
    //                         <div class="social">
    //                             <ul>
    //                                 <li><a href="#"><i class="icon-envelope"></i></a></li>
    //                                 <li><a href="#"><i class="icon-instagram"></i></a></li>
    //                                 <li><a href="#"><i class="icon-google-plus"></i></a></li>
    //                             </ul>
    //                         </div><!-- .social -->

    //                     </div><!-- .text -->
    //                 </div><!-- .wi-member -->
    //             </div><!-- .span4 -->
    //             
    //             <div class="span4">
    //                 <div class="wi-member">
    //                     <div class="image">
    //                         <img src="./assets/member/3.jpg" alt="Alex Mark" />
    //                     </div><!-- .image -->
    //                     <div class="text">
    //                         <div class="name">Alex Mark</div>
    //                         <div class="desc">
    //                             <p>Diam nonum my nibh euismodti ncidunt utiand laoreet dolore magna obortis nisl ucorper susci.</p>
    //                         </div><!-- .desc -->
    //                         <div class="social">
    //                             <ul>
    //                                 <li><a href="#"><i class="icon-behance"></i></a></li>
    //                                 <li><a href="#"><i class="icon-dribbble"></i></a></li>
    //                                 <li><a href="#"><i class="icon-tumblr"></i></a></li>
    //                             </ul>
    //                         </div><!-- .social -->
    //                     </div><!-- .text -->					
    //                 </div><!-- .wi-member -->
    //             </div><!-- .span4 -->
    //         
    //         </div></div><!-- .container -->
    //         
    //         <div class="clearfix"></div>
    //         </section><!-- .wi-section -->
    //         
    //         <div class="wi-divider">
    //             <div class="container">
    //                 <h3 class="title">Our success depends on the success of our customers.</h3>
    //             </div><!-- .container -->
    //         </div><!-- .wi-divider -->
    //         
    //         <!--			BRANDS				-->
    //         <section class="wi-section">
    //             <div class="container">
    //                 <div class="brands">
    //                     <img src="./assets/brand/1.png" alt="Brand 1" />
    //                     <img src="./assets/brand/2.png" alt="Brand 2" />
    //                     <img src="./assets/brand/3.png" alt="Brand 3" />
    //                     <img src="./assets/brand/4.png" alt="Brand 4" />
    //                     <img src="./assets/brand/5.png" alt="Brand 5" />
    //                 </div><!-- .brands -->
    //                 <div class="spacer"></div>
    //                 <p>Facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insita est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores</p>
    //                 
    //             </div><!-- .container -->
    //             <div class="clearfix"></div>
    //         </section><!-- .wi-section -->
    //         
    //     </div><!-- #team -->
    //     
    //     <!--			SEPARATOR				-->
    //     <div class="page-separator has_bg" id="page-separator-service">
    //         <div class="overlay"></div>
    //         <div class="clipmask"></div>
    //         <div class="content">
    //             <div class="bigtext" id="bigtext">
    //                 <div>We are Withemes</div>
    //                 <div>We create original themes, awesome ones that you've never seen before.</div>
    //             </div><!-- .bigtext -->
    //             <div class="spacer"></div>
    //             <div class="wi-button">
    //                 <a class="btn btn-scroll" href="#services">View our services</a>
    //             </div><!-- .wi-button -->
    //         </div><!-- .content -->
    //     </div><!-- .page-separator #page-separator-team -->
    //     
    //     <!--										SERVICES											-->
    //     <div class="wi-page" id="services">
    //     
    //         <!--			TITLE				-->
    //         <div class="title-area">
    //             <div class="container">
    //                 <div class="pad">
    //                     <div class="image">
    //                         <img src="./assets/ornament.png" alt="Ornament" />
    //                     </div><!-- .image -->	
    //                     <h2 class="title">Services</h2>
    //                     <h3 class="subtitle">We offers experienced and comprehensive help for a wide range of business needs.</h3>
    //                 </div><!-- .pad -->
    //             </div><!-- .container -->	
    //         </div><!-- .title-area -->
    //         
    //         <!--			SERVICES				-->
    //         <section class="wi-section">
    //             <div class="container">
    //             
    //                 <div class="row-fluid">
    //                     <div class="span4">
    //                         <div class="wi-iconbox">
    //                             <div class="icon"><i class="icon-paperplane"></i></div><!-- .icon -->
    //                             <h4 class="name">Super Clean</h4>
    //                             <div class="desc">
    //                                 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    //                             </div><!-- .desc -->
    //                         </div><!-- .wi-iconbox -->
    //                     </div><!-- .span3 -->
    //                     
    //                     <div class="span4">
    //                         <div class="wi-iconbox">
    //                             <div class="icon"><i class="icon-users"></i></div><!-- .icon -->
    //                             <h4 class="name">Dedicated Support</h4>
    //                             <div class="desc">
    //                                 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    //                             </div><!-- .desc -->
    //                         </div><!-- .wi-iconbox -->
    //                     </div><!-- .span3 -->
    //                     
    //                     <div class="span4">
    //                         <div class="wi-iconbox">
    //                             <div class="icon"><i class="icon-beaker"></i></div><!-- .icon -->
    //                             <h4 class="name">SEO Optimized</h4>
    //                             <div class="desc">
    //                                 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonumy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    //                             </div><!-- .desc -->
    //                         </div><!-- .wi-iconbox -->
    //                     </div><!-- .span4 -->
    //                     
    //                 </div><!-- .row-fluid -->
    //             
    //             </div><!-- .container -->		
    //         </section><!-- .wi-section -->
    //         
    //         <div class="clearfix"></div>
    //         <div class="container">
    //             <div class="hr"><div class="inner"></div></div><!-- .hr -->
    //         </div><!-- .container -->	
    //         <div class="clearfix"></div>
    //         
    //         <section class="wi-section">
    //             <div class="container"><div class="row-fluid">
    //                 <div class="span6">
    //                     <p><span class="text-dropcap">W</span>orem ipsum dolor sit amet, consectetuer adipiscing elit, sedi diam nonummy nibh euismod tincidunt ut laoreet dolorenat magna aliquam erat volutpat. Ut wisi enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis nisla ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor int hendrerit int vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qua blandit praesent luptatum zzril delenit augue duis dolore.</p>
    //                 </div><!-- .span6 -->
    //                 <div class="span6">
    //                     <p><span class="text-dropcap">A</span>orem ipsum dolor sit amet, consectetuer adipiscing elit, sedenia diam nonummy nibh euismod tincidunt ut laoreet dolorenatian magna aliquam erat volutpat. Ut wisi enim ad minim veniamatic quis nostrud exerci tation ullamcorper suscipit lobortis nisla ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor intata hendrerit intaton vulputate velit esse molestie consequat, vel illum dolor eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissimo qua blandit praesent luptatum zzril delenit augue duis.</p>
    //                 </div><!-- .span6 -->
    //             </div></div><!-- .container -->		
    //         </section><!-- .wi-section -->
    //     
    //         <div class="clearfix"></div>
    //     </div><!-- #services -->
    //     
    //     <!--			SEPARATOR				-->
    //     <div class="page-separator separator-dark" id="page-separator-portfolio">
    //         <div class="overlay"></div>
    //         <div class="clipmask"></div>
    //         <div class="content">			
    //             <div class="testimonial-slider" data-auto="true" data-pager="true" data-effect="slide">
    //                 <div class="flexslider">
    //                     <ul class="slides">
    //                         <li>
    //                             <div class="wi-testimonial">
    //                                 <div class="content">
    //                                     <div class="text">
    //                                         <p>Not only it has a super clean & an eye-catching design, but also very easy to edit because code is well written and documetation is full of details.</p>
    //                                     </div><!-- .text -->										
    //                                 </div><!-- .content -->
    //                                 <div class="author"><span class="name">Chris Ames</span> &middot; California, USA</div>
    //                             </div><!-- .wi-testimonial -->
    //                         </li>
    //                         
    //                         <li>
    //                             <div class="wi-testimonial">
    //                                 <div class="content">
    //                                     <div class="text">
    //                                         <p>Super clean and awesome template. I've never seen anything else like this. I'm sure this will be one of the best selling template on Themeforest.</p>
    //                                     </div><!-- .text -->										
    //                                 </div><!-- .content -->
    //                                 <div class="author"><span class="name">Michael Novotny</span> &middot; EXD Technologies</div>
    //                             </div><!-- .wi-testimonial -->
    //                         </li>
    //                         
    //                         <li>
    //                             <div class="wi-testimonial">
    //                                 <div class="content">
    //                                     <div class="text">
    //                                         <p>Super fast support. I have a question and post to support forum. I got the answer after 10 minutes! Incredible!!!</p>
    //                                     </div><!-- .text -->										
    //                                 </div><!-- .content -->
    //                                 <div class="author"><span class="name">John Saddington</span> &middot; MNP Department</div>
    //                             </div><!-- .wi-testimonial -->
    //                         </li>
    //                         
    //                     </ul><!-- .slides -->
    //                 </div><!-- .flexslider -->
    //             </div><!-- .testimonial-slider -->
    //         </div><!-- .content -->
    //     </div><!-- .page-separator -->
    //     
    //     <!--										PORTFOLIO											-->
    //     <div class="wi-page" id="portfolio">
    //     
    //         <!--			TITLE				-->
    //         <div class="title-area">
    //             <div class="container">
    //                 <div class="image">
    //                     <img src="./assets/kids.png" alt="Kids" />
    //                 </div><!-- .image -->	
    //                 <h2 class="title">Portfolio</h2>
    //                 <h3 class="subtitle">Best way to show your hard works.</h3>
    //                 
    //             </div><!-- .container -->	
    //         </div><!-- .title-area -->
    //         
    //         <!--			PORTFOLIO				-->
    //         <section class="wi-section" id="section-portfolio">
    //             <div class="container">
    //                 <!--			FILTER				-->
    //                 <div class="wi-portfolio-filter">
    //                     <ul>
    //                         <li class="all active">
    //                             <a data-filter="*" href="#">
    //                                 <span class="catname">All</span>
    //                             </a>
    //                         </li>
    //                         <li class="">			
    //                             <a data-filter=".wi-design" href="#">
    //                                 <span class="catname">Design</span>
    //                             </a>
    //                         </li>
    //                         <li class="">			
    //                             <a data-filter=".wi-graphic" href="#">
    //                                 <span class="catname">Graphic</span>
    //                             </a>
    //                         </li>
    //                         <li class="">			
    //                             <a data-filter=".wi-illustration" href="#">
    //                                 <span class="catname">Illustration</span>
    //                             </a>
    //                         </li>
    //                         <li>			
    //                             <a data-filter=".wi-photography" href="#">
    //                                 <span class="catname">Photography</span>
    //                             </a>
    //                         </li>								
    //                     </ul>				
    //                 </div><!-- .wi-portfilio-filter -->
    //                 
    //                 <div class="clearfix"></div>
    //                 
    //                 <!--			PORTFOLIO				-->
    //                 <div class="wi-portfolio">	
    //                     <article class="portfolio-item wi-design wi-graphic wi-photography">
    //                         <div class="inner">
    //                             <div class="thumb">
    //                                 <a href="./single-portfolio.html">
    //                                     <img src="./assets/portfolio/1.jpg" alt="Portfolio 1" />
    //                                     <span class="overlay"></span>
    //                                     <span class="name"><span>Lorem ipsum dolor sit amet</span></span>
    //                                     <span class="categories">Design <span class="dot">&middot;</span> Graphic <span class="dot">&middot;</span> Photography</span>
    //                                 </a>
    //                             </div><!-- .thumb -->		
    //                         </div><!-- .inner -->
    //                     </article><!-- .portfolio-item -->
    //                     
    //                     <article class="portfolio-item wi-illustration wi-photography">
    //                         <div class="inner">
    //                             <div class="thumb">
    //                                 <a href="./single-portfolio.html">
    //                                     <img src="./assets/portfolio/2.jpg" alt="Portfolio 2" />
    //                                     <span class="overlay"></span>
    //                                     <span class="name"><span>Ut wisi enim ad minim</span></span>
    //                                     <span class="categories">Illustration <span class="dot">&middot;</span> Photography</span>
    //                                 </a>
    //                             </div><!-- .thumb -->		
    //                         </div><!-- .inner -->
    //                     </article><!-- .portfolio-item -->
    //                     
    //                     <article class="portfolio-item wi-design wi-illustration">
    //                         <div class="inner">
    //                             <div class="thumb">
    //                                 <a href="./single-portfolio.html">
    //                                     <img src="./assets/portfolio/3.jpg" alt="Portfolio 3" />
    //                                     <span class="overlay"></span>
    //                                     <span class="name"><span>Vel illum dolore eu feugiat</span></span>
    //                                     <span class="categories">Design <span class="dot">&middot;</span> Illustration</span>
    //                                 </a>
    //                             </div><!-- .thumb -->		
    //                         </div><!-- .inner -->
    //                     </article><!-- .portfolio-item -->
    //                     
    //                     <article class="portfolio-item wi-design wi-photography">
    //                         <div class="inner">
    //                             <div class="thumb">
    //                                 <a href="./single-portfolio.html">
    //                                     <img src="./assets/portfolio/4.jpg" alt="Portfolio 4" />
    //                                     <span class="overlay"></span>
    //                                     <span class="name"><span>Nostrud exerci tation ullamr</span></span>
    //                                     <span class="categories">Design <span class="dot">&middot;</span> Photography</span>
    //                                 </a>
    //                             </div><!-- .thumb -->		
    //                         </div><!-- .inner -->
    //                     </article><!-- .portfolio-item -->
    //                     
    //                     <article class="portfolio-item wi-design wi-graphic wi-illustration wi-photography">
    //                         <div class="inner">
    //                             <div class="thumb">
    //                                 <a href="./single-portfolio.html">
    //                                     <img src="./assets/portfolio/5.jpg" alt="Portfolio 5" />
    //                                     <span class="overlay"></span>
    //                                     <span class="name"><span>Blandit praesent nihil luptatum tation ullamr</span></span>
    //                                     <span class="categories">Design <span class="dot">&middot;</span> Graphic <span class="dot">&middot;</span> Illustration <span class="dot">&middot;</span> Photography</span>
    //                                 </a>
    //                             </div><!-- .thumb -->		
    //                         </div><!-- .inner -->
    //                     </article><!-- .portfolio-item -->
    //                     
    //                     <article class="portfolio-item wi-design wi-illustration wi-photography">
    //                         <div class="inner">
    //                             <div class="thumb">
    //                                 <a href="./single-portfolio.html">
    //                                     <img src="./assets/portfolio/6.jpg" alt="Portfolio 6" />
    //                                     <span class="overlay"></span>
    //                                     <span class="name"><span>Ngue nihil imperdiet</span></span>
    //                                     <span class="categories">Design <span class="dot">&middot;</span> Illustration <span class="dot">&middot;</span> Photography</span>
    //                                 </a>
    //                             </div><!-- .thumb -->		
    //                         </div><!-- .inner -->
    //                     </article><!-- .portfolio-item -->
    //                     
    //                     <article class="portfolio-item wi-design wi-graphic wi-illustration">
    //                         <div class="inner">
    //                             <div class="thumb">
    //                                 <a href="./single-portfolio.html">
    //                                     <img src="./assets/portfolio/7.jpg" alt="Portfolio 7" />
    //                                     <span class="overlay"></span>
    //                                     <span class="name"><span>Facilisis at vero eros et</span></span>
    //                                     <span class="categories">Design <span class="dot">&middot;</span> Graphic <span class="dot">&middot;</span> Illustration</span>
    //                                 </a>
    //                             </div><!-- .thumb -->		
    //                         </div><!-- .inner -->
    //                     </article><!-- .portfolio-item -->
    //                     
    //                     <article class="portfolio-item wi-graphic wi-photography">
    //                         <div class="inner">
    //                             <div class="thumb">
    //                                 <a href="./single-portfolio.html">
    //                                     <img src="./assets/portfolio/8.jpg" alt="Portfolio 8" />
    //                                     <span class="overlay"></span>
    //                                     <span class="name"><span>Ugue duis dolore te</span></span>
    //                                     <span class="categories">Graphic <span class="dot">&middot;</span> Photography</span>
    //                                 </a>
    //                             </div><!-- .thumb -->		
    //                         </div><!-- .inner -->
    //                     </article><!-- .portfolio-item -->
    //                     
    //                     <article class="portfolio-item wi-graphic wi-photography">
    //                         <div class="inner">
    //                             <div class="thumb">
    //                                 <a href="./single-portfolio.html">
    //                                     <img src="./assets/portfolio/9.jpg" alt="Portfolio 9" />
    //                                     <span class="overlay"></span>
    //                                     <span class="name"><span>Sus legentis in iis qui facit</span></span>
    //                                     <span class="categories">Graphic <span class="dot">&middot;</span> Photography</span>
    //                                 </a>
    //                             </div><!-- .thumb -->		
    //                         </div><!-- .inner -->
    //                     </article><!-- .portfolio-item -->
    //                 
    //                 <div class="clearfix"></div>
    //                 </div><!-- .wi-portfolio -->
    //                 
    //                 <div class="clearfix"></div>
    //             </div><!-- .container -->	
    //         </section><!-- .wi-section -->
    //     
    //         <div class="clearfix"></div>
    //     </div><!-- #portfolio -->
    //     
    //     <!--			SEPARATOR				-->
    //     <div class="page-separator has_bg" id="page-separator-contact">
    //         <div class="overlay"></div>
    //         <div class="clipmask"></div>
    //         <div class="content">
    //             <div class="bigtext">
    //                 <div>Keep in touch</div>				
    //                 <div>13/2 Elizabeth Street Melbourne VIC 3000</div>
    //                 <div class="courier-font">// <i class="icon-mobile"></i> Call us: 0123-456-789 &ndash; <i class="icon-envelope"></i> Email us: contact@example.com //</div>
    //             </div><!-- .bigtext -->
    //         </div><!-- .content -->
    //     </div><!-- .page-separator #page-separator-team -->
    //     
    //     <!--										CONTACT											-->
    //     <div class="wi-page" id="contact">
    //     
    //         <!--			TITLE				-->
    //         <div class="title-area">
    //             <div class="container">
    //                 <div class="image">
    //                     <img src="./assets/ink.png" alt="Ink" />
    //                 </div><!-- .image -->	
    //                 <h2 class="title">Contact</h2>
    //                 <h3 class="subtitle">We're glad to hear from you.</h3>
    //                 
    //             </div><!-- .container -->	
    //         </div><!-- .title-area -->
    //         
    //         <!--			GMAP				-->
    //         <section class="wi-section" id="section-gmap">
    //             <div class="container">
    //                 <div class="gmap">
    //                     <iframe width="940" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?source=s_q&amp;f=q&amp;hl=en&amp;geocode=&amp;q=Envato+Pty+Ltd,+Elizabeth+Street,+Melbourne,+Victoria,+Australia&amp;aq=0&amp;oq=envato&amp;sll=37.0625,-95.677068&amp;sspn=40.59616,56.513672&amp;ie=UTF8&amp;hq=Envato+Pty+Ltd,&amp;hnear=Elizabeth+St,+Melbourne+Victoria+3000,+Australia&amp;t=m&amp;ll=-37.806868,144.96829&amp;spn=0.023735,0.080681&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    //                 </div><!-- .gmap -->
    //                 <div class="clearfix"></div>
    //             </div><!-- .container -->	
    //         </section><!-- .wi-section -->
    //     
    //         <!--			CONTACT FORM				-->	
    //         <section class="wi-section" id="section-contact">
    //             <div class="container">
    //                 <div class="wi-heading">
    //                     <h3 class="h">Drop us a line</h3>
    //                 </div><!-- .wi-heading -->	
    //                 <div class="contactform-container">
    //                     <form class="contactform" method="post" action="./contact/includes/contact-process.php">
    //                         
    //                         <div class="note"></div>
    //                     
    //                         <div class="input">
    //                             <div class="ele">
    //                                 <label for="name">Name <span class="required">*</span></label>
    //                                 <input type="text" name="name" id="name" value="" />
    //                             </div><!-- .ele -->
    //                             <div class="ele">
    //                                 <label for="email">Email <span class="required">*</span></label>
    //                                 <input type="text" name="email" id="email" value="" />
    //                             </div><!-- .ele -->
    //                             <div class="ele">
    //                                 <label for="subject">Subject <span class="required">*</span></label>
    //                                 <input type="text" name="subject" id="subject" value="" />
    //                             </div><!-- .ele -->
    //                         </div><!-- .input -->
    //                         <div class="textarea">
    //                             <div class="ele">
    //                                 <label for="message">Message <span class="required">*</span></label>
    //                                 <textarea name="message" id="message"></textarea>
    //                             </div><!-- .ele -->
    //                             <div class="ele">
    //                                 <input type="submit" value="Send" id="submit" />
    //                             </div><!-- .ele -->
    //                         </div><!-- .textarea -->	
    //                     </form><!-- form -->
    //                 </div><!-- .contactform -->					
    //             </div><!-- .container -->
    //         </section><!-- .wi-section -->
    //     
    //         <div class="clearfix"></div>
    //     </div><!-- .wi-page -->
    //     
    // </div><!-- #wi-content -->


    // <!--			FOOTER				-->
    // <footer id="wi-footer">
    //     <div class="container">
    //         
    //         <div class="social">
    //             <ul>
    //                 <li><a href="#" target="_blank"><i class="icon-facebook"></i></a></li>
    //                 <li><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
    //                 <li><a href="#" target="_blank"><i class="icon-google-plus"></i></a></li>
    //                 <li><a href="#" target="_blank"><i class="icon-pinterest"></i></a></li>
    //                 <li><a href="#" target="_blank"><i class="icon-youtube"></i></a></li>
    //                 <li><a href="#" target="_blank"><i class="icon-behance"></i></a></li>
    //                 <li><a href="#" target="_blank"><i class="icon-instagram"></i></a></li>
    //                 <li><a href="#" target="_blank"><i class="icon-home"></i></a></li>
    //             </ul>
    //         </div><!-- .social -->
    //         
    //         <div class="footer-logo">
    //             <a href="./"><img src="./assets/footer-logo.png" alt="Norris" /></a>
    //         </div><!-- .footer-logo -->
    //         
    //         <div class="copyright">
    //             <p>&copy; 2013 Norris. All rights reserved. Design by <a href="http://withemes.com" target="_blank">WiThemes</a></p>
    //         </div><!-- .copyright -->
    //     </div><!-- .container -->
    // </footer><!-- #footer -->

    // <div id="scrollup" class="scrollup"></div>

    script(type="text/javascript", src="./js/jquery.sticky.js")
    script(type="text/javascript", src="./js/jquery.touchSwipe.min.js")
    script(type="text/javascript", src="./js/jquery.flexslider-min.js")
    script(type="text/javascript", src="./js/jquery.isotope.min.js")
    script(type="text/javascript", src="./js/jquery.easing.1.3.js")
    script(type="text/javascript", src="./js/bigtext.js")
    script(type="text/javascript", src="./js/jquery.arctext.js")
    script(type="text/javascript", src="./js/jquery.autosize-min.js")
    script(type="text/javascript", src="./js/jquery.fitvids.js")
    script(type="text/javascript", src="./js/jquery.colorbox-min.js")
    script(type="text/javascript", src="./js/main.js")
