doctype 5
html
  head
    title Bible Community Church
    != css('bootstrap.min')
    != css('bootstrap-responsive.min')
    != css('bcc')
    // != js('bootstrap.min')
  body
    #nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          h3 Bible Community Church
    #content.container.container-fluid
      block content
