doctype 5
html
  head
    title Bible Community Church
    != css('bootstrap.min')
    != css('bcc')
    // != js('bootstrap.min')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          h3 Bible Community Church
    .container
      block content
