doctype 5
// if IE 7
    html.ie.ie7.no-js(lang="en-US")
// if IE 8
    html.ie.ie8.no-js(lang="en-US")
// if !(IE 7) | !(IE 8)
    html.no-js(lang="en-US")
// else
    html

head
    title Bible Community Church
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='/css/shortcodes.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/responsive.css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,300,700&amp;subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Yeseva+One', rel='stylesheet', type='text/css')
    
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js')

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26995728-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
  body.onepage
    block content

    .footer
      .container
        a(href="/") Bible Community Church 
        | | No Rights Reserved. All we claim is Christ. | 
        a(href="https://github.com/wookimiii/bccnode", target="_blank") Github 
        |  |
        a(href="/shorter-catechisms") Catechisms
