body{
  margin-top: 40px;
  margin-bottom: 300px;
  font-size: 1.05em
}

#nav h3{
  line-height: 21px;
  float: left;
  padding-right: 30px;
}

.section h3{
  color: #999;
}

.schedule h4{
  color: #004399;
}
.schedule .label{
  margin-left: 10px;
  position: relative;
  top: -3px;
}

