@import 'nib'
body
  width: 100%
  padding: 30px 0
  box-sizing: border-box

header
  width: 100%
  text-align: center
  padding: 5px
  font-size: 2em
  font-weight: 500
  margin-bottom: 10px
  position: fixed
  top: 0
  left: 0
  background: linear-gradient(top, white, #ccc)
  z-index: 99
  .menu-btn
    float: left
    font-size: 20px
    margin-left: 5px;

ul
  margin: 0
li
  list-style-type: none;

.catechism
  padding: 5px 10px
  box-sizing: border-box
  label
    width: 20px
    float: left
    margin: 0
  hr
    margin: 0
    visibility: hidden
    height: 4pt

.catechism.even
  background: rgba(0,0,0, 0.03)
  padding: 5px

$number-width = 40px
.number
  font-size: 2em;
  float: left
  color: #999
  width: $number-width
  position:relative
  top: 4px
  
.question
  font-weight: bold
.question, .answer{
  float: left;
}
.answer, .verses{
  margin-left: $number-width
}
.ref
  color: #0088cc;

#new
  textarea
    width: 90%


#selectors
  $border = solid 1px #999
  background: #333
  color: #fff
  border-left: $border
  box-sizing: border-box;
  #preview
    font-size: 15px
    padding: 5px;
    border-bottom: $border
  .selector
    font-size: 20px
    float:left
    border: $border
    border-left: none;
    border-top: none
    padding: 3px 6px
    text-align: center;
    background: #333
    width: 14.2%;
    box-sizing: border-box;
    

