@import 'nib'
body
  width: 100%
  padding: 30px 0
  box-sizing: border-box
  background: url("/assets/img/noisy_grid.png")

header
  width: 100%
  text-align: center
  padding: 5px
  font-size: 2em
  font-weight: 500
  margin-bottom: 10px
  position: fixed
  top: 0
  left: 0
  background: linear-gradient(top, white, #ccc)
  box-shadow: 0px 1px 3px #333
  z-index: 99
  text-shadow: 0px 1px 1px white
  .menu-btn
    float: left
    font-size: 20px
    margin-left: 5px;

ul
  margin: 0
li
  list-style-type: none;
.catechisms
  background-color: rgba(255,255,255, 0.7);
.catechism
  padding: 5px 5px
  box-sizing: border-box
  label
    width: 20px
    float: left
    margin: 0
  hr
    margin: 0
    visibility: hidden
    height: 0pt

$number-width = 40px
.number
  font-size: 2em;
  color: #999
  width: $number-width
  position:relative
  top: 10px
  left: 5px
  height: 0px

.question-answer
  padding: 5px
.question
  font-weight: bold
.question, .answer{
  float: left;
}
.question, .answer, .verse
  padding-left: $number-width
  box-sizing: border-box
.question-answer
  background: rgba(255,255,255,0.7);
  
.verse:hover
  background: rgba(255,255,255,0.7);

.ref
  color: #0088cc;

#new
  textarea
    width: 90%


#selectors
  $border = solid 1px #999
  background: #333
  color: #fff
  border-left: $border
  box-sizing: border-box;
  #preview
    font-size: 15px
    padding: 5px;
    border-bottom: $border
  .selector
    font-size: 20px
    float:left
    border: $border
    border-left: none;
    border-top: none
    padding: 3px 6px
    text-align: center;
    background: #333
    width: 14.2%;
    box-sizing: border-box;
    

