@import url('bootstrap-responsive.min.css');

@media (min-width: 1200px) {
	.container {
		width:940px;
	}
}
	
@media (min-width: 768px) and (max-width: 979px) {
	.container {
		width:724px;
		}
	h1 {
		font-size:29px;
		}
	h2 {
		font-size:23px;
		}
	h3 {
		font-size:18px;
		}
	h4, h5, h6 {
		font-size:14px;
		}				
		
	/* Top area
	-------------------------------------------------- */
	#wi-top-area {
		padding:70px 42px;
		}
	#wi-top-area .heading-text {
		font-size:70px;
		}	
	
	/* Onepage
	-------------------------------------------------- */
	.page-separator {
		padding-left:40px;
		padding-right:40px;
		}	
	.wi-page .title-area .pad {
		padding:0 40px;
		}
	.wi-divider .title {
		font-size:26px;
		}		
	
	
	/* Shortcodes
	-------------------------------------------------- */
	.wi-dropcap {
		width:77px;
		height:77px;
		}
		/* Count */
	.wi-count .number {
		font-size:56px;
		height:89px;
		}
	.wi-count .digit-con {
		height:89px;
		}
	.wi-count .comma {
		top:-21px;
		}
	.wi-count .name {
		font-size:18px;
		}
		
	/* Portfolio
	-------------------------------------------------- */
	.wi-portfolio .portfolio-item {
		width:50%;
		}
		
	/* Blog
	-------------------------------------------------- */
	#primary {
		padding-right:10px;
		}
	.article .title {
		font-size:21px;
		}
	.post-title {
		font-size:35px;
		}
	.authorbox {
		padding:10px;
		}	
	.authorbox .author-avatar {
		margin-right:20px;
		}	
	
}

@media (max-width: 767px) {
	body {
		padding-left:0;
		padding-right:0;
		}
	.container {
		width:440px;
	}
	
	/* Top area
	-------------------------------------------------- */
	#wi-top-area {
		padding:70px 42px;
		}
	#wi-top-area .heading-text {
		font-size:70px;
		}
	#wi-top-area .wi-button .btn {
		padding:6px 14px;
		font-size:13px;
		}
	
	#wi-header {
		padding:5px 0;
		}
	#wi-logo {
		text-align:center;
		margin:0;
		overflow:hidden;
	}
	#logo img {
		margin:0 auto;
		display:block;
		max-height:100%;
		width:auto;
		}
	#wi-mainnav-mobile {
		display:block;
		}
	#wi-mainnav {
		display:none;
		}
	.contactform .input {
		width:100%;
		float:none;
		margin-bottom:10px;
		margin:0;
		}
	#wi-footer .social ul li a {
		margin-left:6px;
		margin-right:6px;
		}
	#scrollup {
		width:32px;
		height:32px;
		bottom:8px;
		right:8px;
		-webkit-background-size: 15px 10px;
    	background-size: 15px 10px;
		}
	#primary {
		padding-right:0;
		}
			

	/* Shortcodes
	-------------------------------------------------- */	
	.wi-dropcap {
		width:88px;
		height:88px;
		}
	.brands img {
		width:50%;
		}	
	
	/* Onepage
	-------------------------------------------------- */
	.wi-page .title-area .subtitle {
		font-size:13px;
		}
	.page-separator {
		padding-left:20px;
		padding-right:20px;
		}	
	.page-separator blockquote p {
		font-size:26px;
		}	
	.wi-page .title-area .pad {
		padding-left:10px;
		padding-right:10px;
		}
	.post-title {
		font-size:25px;
		}
	.headline {
		background-size:400px;
		}	
	.headline .meta {
		font-size:11px;
		letter-spacing:1px;
		}
	.headline .meta .ele,
	.headline .meta .ele:before {
		margin-right:6px;
		}
		
	/* Portfolio
	-------------------------------------------------- */
	.wi-portfolio-filter ul {
		display:block;
		}
	.wi-portfolio-filter ul li {
		width:50%;
		}
	.wi-portfolio-filter ul li a {
		margin:0 10px 10px 0;
		}	
	.wi-portfolio .portfolio-item {
		width:100%;
		}
		
	/* Blog
	-------------------------------------------------- */	
	.article {
		}	
	.article .title {
		font-size:22px;
		}
	.authorbox .author-avatar {
		margin-right:20px;
		}			
		/* comments */
	.commentlist ol.children {
		margin-left:28px;
		}
	
	/* Pagination
	-------------------------------------------------- */
	.wi-pagination {
		margin-top:0;
		}
	.wi-pagination > ul > li.li-navi,
	.wi-pagination > ul > li.li-navi {
		float:none;
		display:block;
		clear:both;
		text-align:center;
		padding:15px auto;
		}
	.wi-pagination > ul > li.li-navi a,
	.wi-pagination > ul > li.li-navi a {
		display:inline-block;
		
		}
	.wi-pagination > ul > li > .prev:before,
	.wi-pagination > ul > li > .next:before,
	.wi-pagination > ul > li > .prev:after,
	.wi-pagination > ul > li > .next:after {
		display:none;
	}
	
}

@media (max-width: 480px) {
	body {
		padding-left:0px;
		padding-right:0px;
		}
	.container {
		width:300px;
		}
	#wi-footer .social ul li {
		display:inline-block;
		float:none;
		}	
	#wi-footer .social ul li a {
		margin-left:10px;
		margin-right:10px;
		}
	.headline {
		background-size:300px;
		}		
	.post-title {
		font-size:28px;
		}
	h1 {
		font-size:26px;
		}
	h2 {
		font-size:22px;
		}
	h3 {
		font-size:16px;
		}
	h4, h5, h6 {
		font-size:13px;
		}			
	
	/* Top area
	-------------------------------------------------- */
	#wi-top-area {
		padding:70px 20px;
		}
	#wi-top-area .heading-text {
		font-size:60px;
		}	
	#wi-top-area .small-text {
		font-size:11px;
		}
		
	/* Onepage
	-------------------------------------------------- */
	.wi-page .title-area {
		background-size:300px;
		}
	.wi-page .title-area .title {
		font-size:50px;
		}
	.wi-page .title-area .subtitle {
		font-size:11px;
		}
	.page-separator {
		padding-left:10px;
		padding-right:10px;
		}
	.page-separator blockquote {
		margin-left:0;
		padding-left:0;
		padding-right:0;
		}		
	.page-separator blockquote p {
		font-size:24px;
		}
	.wi-divider .title {
		font-size:22px;
		}
	
		
	/* Shortcodes
	-------------------------------------------------- */
	.brands img {
		width:100%;
		}
	.wi-testimonial .content {
		font-size:14px;
		}
	
	/* Portfolio
	-------------------------------------------------- */
	.single-portfolio .portfolio-info .portfolio-info-table {
		font-size:11px;
		}
	
	/* Blog
	-------------------------------------------------- */
	.article .title {
		font-size:18px;
		}
	.article .meta .ele {
		margin-bottom:5px;
		}	
	.headline .meta {
		text-align:center;
		}
	.headline .meta .ele {
		display:inline-block;
		float:none;
		font-size:11px;
		letter-spacing:0;
		}	
	.post-nav .ele a {
		font-size:14px;
		}
	.authorbox .inner {
		overflow:hidden;
		}
	.authorbox .author-avatar {
		margin-bottom:16px;
		}	
	.authorbox .text {
		float:left;
		}	
	.comments-title {
		font-size:50px;
		}
	
		/* Comments */
	.commentlist .comment-avatar {
		margin-right:20px;
		width:60px;
	}
	.commentlist .text {
		display:block;
	}
	.commentlist header {
		clear:none;
		overflow:visible;
	}
	.commentlist .fn span {
		margin-left:0;
		clear:both;
		margin-bottom:5px;
	}
	.commentlist ol.children {
		margin-left:24px;
	}
	
}